.container {
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  gap: 10px;
  :first-child {
    border-radius: 10px;
    background: var(--primary-purple-first);
    height: 100%;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  :last-child {
    width: 20px;
    height: 20px;
    background-color: transparent;
  }
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
  .burger {
    display: block;
  }
}

.menu {
  transition: transform ease-in-out 300ms;
  &[data-open='true'] {
    transform: translateX(0);
  }
}
