.container {
  top: 0;
  right: -10px;
  position: fixed;
  overflow-y: auto;
  height: 100vh;
  width: 518px;
  background-color: var(--bg-dark-pixema);
  transform: translateX(110%);
  transition: transform ease-in-out 300ms;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 40px;
  &[data-open='true'] {
    transform: translateX(0);
  }
  z-index: 1010;
  p {
    color: var(--text-color);
    font-family: 'Exo 2';
    font-weight: 600;
  }

  .containerSortByYear {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: end;
    div:first-child {
      flex: 1 1 50%;
      position: relative;
      div {
        position: absolute;
        bottom: -25px;
        color: var(--error-pixema);
      }
    }
    div:last-child {
      flex: 1 1 50%;
      position: relative;
      div {
        position: absolute;
        bottom: -25px;
        color: var(--error-pixema);
      }
    }
  }

  .innerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    p {
      color: var(--text-color);
      font-weight: 600;
      font-size: 24px;
      line-height: calc(36px / 24px) * 100%;
    }
    .btnCancel {
      button {
        width: 20px;
        height: 20px;
        padding: 10px;
      }
    }
  }
  .containerBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    a:hover {
      text-decoration: none;
    }
  }
  form {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 30px;
    position: relative;
    div:nth-child(2) {
      width: 100%;
    }
    div:nth-child(4) {
      p {
        color: var(--text-color);
        font-weight: 600;
        margin-bottom: 8px;
      }
    }

    div:first-child {
      width: 100%;
      margin: 0;
      label {
        color: var(--text-color) !important;
        font-family: 'Exo 2';
      }
      span {
        color: var(--text-color) !important;
      }
      div {
        color: inherit;
        border-radius: 10px !important;
        svg path {
          fill: var(--text-color);
        }
      }
    }
  }
}

.BtnGroupSwitch {
  display: flex;
  justify-content: center;
  width: 100% !important;
  margin: 30px 0;
  :first-child {
    border-radius: 10px 0 0 10px;
    padding: 10px 0;
  }
  :last-child {
    border-radius: 0 10px 10px 0;
  }
}
.genresWrapper {
  background: var(--bg-graphite-pixema);
  border-radius: 10px;
  p {
    color: var(--text-color);
  }
  .containerCheckBoxes {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    display: grid;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    position: static !important;
    span:nth-child(2) {
      color: var(--text-color);
      font-family: 'Exo 2';
    }
  }
}

select {
  width: 100px;
  background: var(--bg-graphite-pixema);
  overflow: scroll;
  color: var(--text-color);
  option {
    color: var(--text-color);
  }
}

@media (max-width: 500px) {
  .container {
    width: 95%;
    padding: 20px 30px 20px 20px;
    .containerBtn {
      position: static !important;
      margin-top: 0 !important;
    }
  }
  .genresWrapper {
    .containerCheckBoxes {
      span:nth-child(2) {
        color: var(--text-color);
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 80%;
  }
}
