.desktop {
  position: absolute;
  display: flex;
  flex-flow: column;
  gap: 40px;
  color: var(--secondary-grey);
  padding-top: 80px;
  padding-left: 60px;
  a {
    color: inherit;
    width: 120px;
    padding-left: 0 !important;
    svg {
      margin-right: 23px;
      width: 20px;
    }

    &:hover svg path {
      fill: var(--primary-purple-second);
    }
    &:hover {
      color: var(--primary-purple-second);
      text-decoration: none;
    }
  }
  button {
    display: none;
  }
}

.tablet {
  right: -10px;
  top: 0;
  padding-top: 0;
  margin-top: 60px;
  display: none;
  transition: ease-in-out 300ms;
  transform: translateX(110%);
  background: var(--bg-black-pixema);
  padding: 0px 0px 20px 20px;
  border-bottom-left-radius: 10px;
  width: 150px;
  z-index: 1000;
  &[data-open='false'] {
    transform: translateX(0);
  }
  button {
    display: block;
    color: var(--secondary-grey);
    &:hover {
      color: var(--primary-purple-second);
      &:active {
        outline: none;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.container .active {
  color: var(--primary-purple-first);
  svg path {
    fill: currentColor;
  }
}

@media (max-width: 500px) {
  .tablet {
    margin-top: 120px;
  }
}

@media (max-width: 1200px) {
  .tablet {
    display: flex;
  }
}
