.container {
  display: flex;
  flex-flow: column;

  min-width: 120px;
  max-width: 300px;
  position: relative;
  div:first-child {
    img {
      object-fit: cover;
      width: 100%;
      border-radius: 20px;
      margin-bottom: 24px;
    }
  }
  a {
    color: var(--text-color);
    font-size: 20px;
    line-height: calc(24px / 20px) * 100%;
    &:nth-child(3) {
      display: flex;
      flex-flow: column;
      gap: 5px;
    }
    &:hover {
      text-decoration: none;
      color: var(--primary-purple-second);
    }
  }
}

.swiper {
  padding-top: 60px !important;
  > div:nth-child(2) {
    top: 25px !important;
    color: var(--primary-purple-second) !important;
    ::after {
      width: 20px !important;
      height: 20px;
    }
  }
  > div:nth-child(3) {
    top: 25px !important;
    color: var(--primary-purple-second) !important;
  }

  > div:nth-child(5) {
    top: 15px;
    left: calc(100% / 2 - 40% / 2);
    width: 40%;
    display: flex;
    text-align: center;
    justify-content: center;
    background: var(--bg-graphite-pixema);
    height: 20px;
    align-items: center;
    border-radius: 10px;
  }
}

@media (max-width: 500px) {
  .container {
    a {
      font-size: 16px;
    }
  }
}
