.container {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-flow: column;
  width: 20%;
  border-radius: 10px;
  transform: scale(0);
  background: var(--bg-dark-pixema);
  transition: transform ease-in-out 300ms;
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
  color: var(--text-color);
  padding: 10px 20px;
  margin-top: 10px;
  z-index: 1000;
  > a {
    color: inherit;
    padding: 7px 0px;
    background: inherit;
    padding-left: 0 !important;

    &:hover {
      color: var(--primary-purple-first);
      text-decoration: none;
    }
  }

  button {
    background: transparent;
    color: inherit;
    padding: 7px 0px;
  }

  a:first-child {
    border-bottom: 1px solid var(--bg-graphite-pixema);
  }

  &[data-open='false'] {
    transform: scale(1);
    z-index: 1000;
  }
}
