.container {
  display: flex;
  flex-flow: column;
  width: 100%;

  label {
    display: block;
    color: var(--text-color);
    font-weight: 600;
  }
  input {
    border-radius: 10px;
    background-color: var(--bg-graphite-pixema);
    color: var(--text-color);
    appearance: none;
    outline: none;
    display: block;
    padding: 10px 20px;
    width: 100%;
    border: none;
    &[data-valid='false'] {
      border-color: var(--error-color-red);
    }
  }
}

.error {
  color: var(--error-color-red);
}
