.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  label {
    display: block;
    color: var (--menu-color-text);
    font-weight: 600;
  }
  input {
    appearance: none;
    display: block;
    padding: 18px 20px;
    width: 100%;
    border: none;
    &[data-valid='false'] {
      border-color: var(--error-color-red);
    }
  }
}

.error {
  color: var(--error-color-red);
}
