.container{
    position: absolute;
    max-width: 368px;
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 40px;
    color: var(--secondary-grey);
    overflow: auto;
    padding-top: 80px;
    a{
        color:inherit;
        width: 120px;
        svg{
            margin-right: 23px;
        }
    
        &:hover svg path{
            fill: var(--primary-purple-second);
        }
        &:hover{
            color: var(--primary-purple-second);
            text-decoration: none;
        }
    }
    
 }



.container .active{
color: var(--primary-purple-first);
svg path{
    fill: currentColor;
}
}

@media (max-width: 768px){
    .container{
        display: none;
    }
}
