.button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  text-align: center;
  &:disabled {
    color: var(--bg-graphite-pixema);
    cursor: not-allowed;
  }
  &:active {
    outline: auto;
  }
  &:focus {
    outline: none;
  }
}

.filter {
  background-color: var(--bg-graphite-pixema);
}

.user {
  background-color: var (--primary-purple-first);
}

.chevron {
  background-color: transparent;
  &:hover svg path {
    fill: var (--primary-purple-first);
  }
}

.burger {
  width: 50px;
  height: 50px;
  background: var(--primary-purple-first);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  padding: 5px 20px;
  background: var(--bg-graphite-pixema);
  color: var(--text-color);
  border-radius: 10px;
  &:hover {
    color: var(--primary-purple-second);
  }
}

.system {
  padding: 16px 0;
  border-radius: 10px;
  background-color: var(--primary-purple-first);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}
