.container{
    padding: 40px 0;
    width: 100%;
}

.interactContainer{
    gap: 20px;
    display: flex;
    align-items: center;
    &:first-child{
        flex: 1 1 40%;
    }
    &:last-child{
        flex: 1 1 60%;
        &:last-child{
            width: 100%;
        }
    }
}

@media (max-width: 768px){
    .interactContainer{
        margin-left: 0;
    }
}