.container {
  padding: 40px 0;
  width: 100%;
}

.interactContainer {
  gap: 20px;
  display: flex;
  align-items: center;
  a:first-child {
    flex: 1 1 30%;
  }
  form:nth-child(2) {
    flex: 1 1 70%;
  }
}

@media (max-width: 768px) {
  .MenuDesktop {
    display: none;
  }
}
