.container {
  padding: 40px 0;
  width: 100%;
}

.interactContainer {
  gap: 20px;
  display: flex;
  align-items: center;
  position: relative;
  a:first-child {
    flex: 1 1 25%;
    padding-left: 60px;
  }
  div:nth-child(2) {
    flex: 1 1 60%;
  }
}

@media (max-width: 768px) {
  .menuDesktop {
    display: none;
  }
  .interactContainer a:first-child {
    padding-left: 10px;
  }
}
